<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<style>
	.board {
	width: 900px;
	margin: 0 auto;
}
	
	.btn {
	border-radius: 5px;
	margin-bottom: 20px;
}

	.card {
		margin-bottom: 40px; /* 카드와 페이지 버튼사이의 간격 추가 */
		margin-left:20px;
		margin-right:20px;
	}
	
	.card-body > div {
	margin:0;
	padding : 0;
	}
	
	.card-text{
	margin:0 !important;
	}	
	
	.h5{
	margin:0;
	margin-bottom:0;
	padding: 0;
	}
	
</style>
</th:block>

<head>
    <title>APPLY</title>
</head>

<div layout:fragment="content" class="board">

<!-- div 3개로 나누면 내용 따라 크기 달라지는 것 사라짐 -->
	<div class = "d-flex justify-content-center">
		<!-- 반복 Start -->
		<div class="card" style="width: 18rem;" th:each="subject : ${subjects}">
			<img th:src="@{/img/EZEN.PNG}" class="card-img-top" alt="...">
			<div class="card-body">
				<div style="height:50px;"><h5 class="card-title" th:text="${subject.subjectName}"></h5></div>
				<div style="height:80px;"><p class="card-text" th:text="${subject.subjectDetail}"></p></div>
				<div style="height:70px;"><a th:href="@{| /subject/detail/${subject.subjectId}|}" class="btn btn-outline-secondary d-flex justify-content-center"
				>상세보기</a></div>
			</div>
		</div>
		<!-- 반복 End -->
	</div> 
		<div
			th:with="start=${(subjects.number/maxPage)*maxPage + 1}, end=(${(subjects.totalPages == 0) ? 1 : (start + (maxPage - 1) < subjects.totalPages ? start + (maxPage - 1) : subjects.totalPages)})">
			<ul class="pagination justify-content-center">

				<li class="page-item"
					th:classappend="${subjects.number eq 0}?'disabled':''"><a
					th:href="@{'/subject/list' + ${subjects.number-1}}"
					aria-label='Previous' class="page-link"> <span
						aria-hidden='true'>이전</span></a></li>

				<li class="page-item"
					th:each="page: ${#numbers.sequence(start, end)}"
					th:classappend="${subjects.number eq page-1}?'active':''"><a
					th:href="@{'/subject/list' + ${page-1}}" th:inline="text"
					class="page-link">[[${page}]]</a></li>

				<li class="page-item"
					th:classappend="${subjects.number+1 ge subjects.totalPages}?'disabled':''">
					<a th:href="@{'/subject/list' + ${subjects.number+1}}"
					aria-label='Next' class="page-link"> <span aria-hidden='true'>다음</span>
				</a>
				</li>

			</ul>
		</div>
	  <div class="d-flex justify-content-end">
			<!--★onclick으로 효과주기★-->
			<button type="button" class="btn btn-outline-secondary"
				onclick="pagemove2()">과목 등록</button>
		</div>

</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	
	//상세보기 버튼 > a태그로 넣음.

	//과목등록 버튼
	function pagemove2() {

		location.href = "/subject/regist"; // 
	}
	</script>
</th:block>

</html>