<!-- 과목 등록 페이지 -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
<style>
	.btn {
	border-radius: 5px;
</style>
</th:block>

<div layout:fragment="content" class="content">
<div class="d-flex justify-content-center">
	<!-- 과목 등록 양식 -->
	<div class = "class-detail">
	<div>
	<div class="d-flex justify-content-between">
		<dl >
			<dt>과목명</dt>
			<dd th:text="${subject.subjectName}">
			</dd>
		</dl>
		<dl>
			<dt>수강 가능 인원</dt>
			 <dd>
			 <!-- th:text를 사용할 때 해당 태그 안의 내용은 순수한 텍스트로 간주.
			 span 안에 th:text 써줘야 '명'나옴 -->
        	<span th:text="${subject.subjectTo}"></span> <span>명</span>
   			 </dd>
		</dl>
	</div>
	
	<!-- 입력한 값을 가져올 때는 th:value가 아니라 th:text -->
	<div class="d-flex justify-content-between">
		<dl>
			<dt>개강일</dt>
			<dd th:text="${subject.subjectStartDate}">
			</dd>
		</dl>
		
		<dl>
			<dt>종강일</dt>
			<dd th:text="${subject.subjectEndDate}">
			</dd>
		</dl>
	</div>
	
	<dl>
		<dt>내&nbsp;&nbsp;&nbsp;&nbsp;용</dt>
		<dd th:text="${subject.subjectDetail}">
		</dd>
	</dl>

	<div class="d-flex justify-content-end">
				<!-- 사용자 -->
				<button class="btn btn-outline-secondary" onclick="goApply()">신청하기</button>
				<!-- 관리자 권한 -->
				<button class="btn btn-outline-secondary" onclick="goEdit()">수정하기</button>
				<button class="btn btn-outline-secondary" onclick="dropQna()">삭제하기</button>	
	</div>
	</div>
	<!-- 과목 등록 양식 -->
</div>
</div>


</div>

<th:block layout:fragment="script">
<script th:inline="javascript">

let id = [[${subject.subjectId}]];
function goEdit() {
		location.href= '/subject/edit/' + id;
	}

function dropSubject() {
	const deleteConf = confirm("삭제하시겠습니까?");
	if(!deleteConf) return; //취소버튼 누르면
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	var url = "/subject/delete/" + id;
	
	$.ajax({
		url : url, //request url
		type : "DELETE", //전송방식
		contentType : "application/json",
		beforeSend : function(xhr) {
			//데이터 전송 전에 헤더에  csrf값을 설정. 
			xhr.setRequestHeader(header, token);	
		},
		dataType : "json",
		cache : false,
		success : function(result, status) {
			location.href ='/subject/list';
		
		},
		error : function(jqXHR, status, error) {
			if(jqXHR.status == '401'){
				alert('로그인 후 이용해주세요.');
				location.href = '/members/login';
			} else {
				alert(jqXHR.responseText);
			}
		}
	});
}

</script>
</th:block> 

</html>