<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7"> 
				<!-- Post preview-->
				<div class="post-preview">
					<a href="post.html">
						<h2 class="post-title">aws 클라우드 기반 자바 웹 개발자</h2>
						<h3 class="post-subtitle">웹 개발 및 아마존 클라우드를 구축하여,장소 제약없이 원하는 자료를 활용하자~!</h3>
					</a>
					
				</div>
				<!-- Divider-->
				<hr class="my-4" />
				<!-- Post preview-->
				<div class="post-preview">
					<a href="post.html">
					<h2 class="post-title">C++ 기본</h2>
					<h3 class="post-subtitle">수준 높은 문제 해결능력을 키우는 프로그래밍의 첫 걸음</h3>
					</a>
				</div>
				<!-- Divider-->
				<hr class="my-4" />
				<!-- Post preview-->
				<div class="post-preview">
					<a href="post.html">
						<h2 class="post-title">자바 웹&앱 프로그래밍</h3>
						<h3 class="post-subtitle">과거부터 꾸준한 인기 자바(JAVA),웹/앱 개발자 되는 필수 언어!</h3>
					</a>
					
				</div>
				<!-- Divider-->
				<hr class="my-4" />
				<!-- Post preview-->
				<div class="post-preview">
					<a href="post.html">
						<h2 class="post-title">풀스택 마스터 개발자</h2>
						<h3 class="post-subtitle">화면 위주로 하는 프론트엔드 개발 영역을 벗어나,서버활용까지 가능한 백엔드 개발까지</h3>
					</a>
				
				</div>
				<!-- Divider-->
				<hr class="my-4" />
				<!-- Pager-->
				
			</div>
		</div>
	</div>
</div>
</html>